extends layout

block content
  .container
    h1 Sign up
    form#signup-form(method='POST' action='/signup')
      input#signup-username(type='text' name='username')
      input#signup-password(type='password' name='password')
      button Sign Up